.debug{
  border: 1px dashed black;
}

body{
  background-color: #083b4c;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorchid;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 1.5rem;
  margin: 5px;
}

.box.yellow{
  background-color: darkgoldenrod;
}

.box.green{
  background-color: lightgreen;
}

h1{
  font-size: 5rem;
}